<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Acceuil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('menu') }}">Menu <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Réservation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Commander</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">A propos</a>
            </li>
        </ul>
    </div>

    <a class="btn btn-light ml-auto"><i class="fas fa-user-edit"></i> S'incrire</a>
</nav>