{% extends 'base.html.twig' %}

{% block title %}Menu - Restaurant Casa de papel{% endblock %}

{% block header %}
<div class="row">
    {% include "layouts/navbarPage.html.twig" %}
</div>

<div class="row bg-menu">
    <div class="col-12 bg-grBlack d-flex flex-column justify-content-center">
        <h2 class="text-center">Menu</h2>
        <hr class="w-25 border-warning">
    </div>
</div>
{% endblock %}

{% block body %}
<div id="menu">
<div class="row mt-5" id="buttons">
    <div class="col-4 text-center">
        <router-link class="btn btn-outline-success rounded-circle p-4" 
            to="/entrees" active-class="active">
            <img src="{{ asset('static/icon-entree.svg') }}" alt="icon-entree" class="img-sm">
            <h5>Entrée</h5>
        </router-link>
    </div>

    <div class="col-4 text-center">
        <router-link class="btn btn-outline-danger rounded-circle p-4" 
            to="/plats" active-class="active">
            <img src="{{ asset('static/icon-plat.svg') }}" alt="icon-plat" class="img-sm">
            <h5>Plats</h5>
        </router-link>
    </div>
    

    <div class="col-4 text-center">
        <router-link class="btn btn-outline-warning rounded-circle p-4" 
        to="/desserts" active-class="active">
            <img src="{{ asset('static/icon-dessert.svg') }}" alt="icon-dessert" class="img-sm">
            <h5>Desserts</h5>
        </router-link>
    </div>

</div>    

<router-view></router-view> 

</div>

{{ encore_entry_script_tags('page_menu') }}

{% endblock %}


